<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="create_apps.js"></script>
<link rel="stylesheet" href="appearance.css">

<!--
    Final Project for CSCI 344 | Fragged Empire Character Creation Tool
    Created by Ashley Dodson, Leng Ghuy, Michael Scott, Jacob Frizzell
    April 2017

    Purpose of this page: Manual Character Creation
-->

<head>
    <meta charset="UTF-8">
    <title>Create Character Manual Mode</title>
</head>
<body class="manualCreate">
    <div class="container" ng-app="app" ng-controller="ctrl">
        <h2 class="charName">
            Create your Own Character
        </h2>
        <div class="container">
            <ul class="list-inline" id="stats">
                <li>
                    <div>
                        <form>
                            Character Name: <input type="text" ng-model="name">
                        </form>
                    </div>
                </li>
                <li>
                    <div>
                        <form>
                            Player: <input type="text" ng-model="player">
                        </form>
                    </div>
                </li>
                <li>
                    <div>
                        Race:
                        <select ng-model="selectedRace" ng-options="x for x in races">

                        </select>
                    </div>
                </li>
                <li>
                    <div ng-repeat="x in lang">
                        Languages: {{x}}
                        <span ng-click="remLang($index)">&times;</span>
                    </div>
                </li>
                <li>
                    <div>
                        <input ng-model="addMe"><button ng-click="addLang()">
                        Add
                    </button>
                    </div>
                </li>
            </ul>
        </div>
        <h3 class="seperator">
            Character Stats
        </h3>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Level
                    </p>
                    <p>
                        Max Resources
                    </p>
                    <p>
                        Max Influence
                    </p>
                </div>
                <div class="col-md-6">
                    <p>

                    </p>
                    <p>
                        Curret Res
                    </p>
                    <p>
                        Current Inf
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h3 class="Seperator">
                    Attributes
                </h3>
                <div class="col-md-6">
                    <table>
                        <tr>
                            <td>
                                Strength:
                            </td>
                            <td>
                                {{strVal}} |
                                <button ng-click="remStr()">
                                    <i class="glyphicon-minus"></i>
                                </button>
                                <button ng-click="addStr()">
                                    <i class="glyphicon-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Reflexes:
                            </td>
                            <td>
                                {{rfxVal}} |
                                <button ng-click="remRfx()">
                                    <i class="glyphicon-minus"></i>
                                </button>
                                <button ng-click="addRfx()">
                                    <i class="glyphicon-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Movement:
                            </td>
                            <td>
                                {{movVal}} |
                                <button ng-click="remMov()">
                                    <i class="glyphicon-minus"></i>
                                </button>
                                <button ng-click="addMov()">
                                    <i class="glyphicon-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Focus:
                            </td>
                            <td>
                                {{focVal}} |
                                <button ng-click="remFoc()">
                                    <i class="glyphicon-minus"></i>
                                </button>
                                <button ng-click="addFoc()">
                                    <i class="glyphicon-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Intelligence:
                            </td>
                            <td>
                                {{intVal}} |
                                <button ng-click="remInt()">
                                    <i class="glyphicon-minus"></i>
                                </button>
                                <button ng-click="addInt()">
                                    <i class="glyphicon-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Perception:
                            </td>
                            <td>
                                {{perVal}} |
                                <button ng-click="remPer()">
                                    <i class="glyphicon-minus"></i>
                                </button>
                                <button ng-click="addPer()">
                                    <i class="glyphicon-plus"></i>
                                </button>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="col-md-6">
                    <p>
                        Perks
                    </p>
                    <p>

                    </p>
                    <p>
                        Complications
                    </p>
                    <p>

                    </p>
                    <p>

                    </p>
                    <p>
                        Spare Time Points
                    </p>
                </div>
            </div>
        </div>
        <todo>
            Make two tables with col-md-6, will have checkboxs and limits (6x per char onprimary, 2x each on vehicle/personal)
        </todo>
    </div>
    <div class="container">
        <a href="index.html">
            <button type="button" class="btn btn-primary">
                Go back to index
            </button>
        </a>
    </div>
</body>
</html>