<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="create_apps.js"></script>

<!--
    Final Project for CSCI 344 | Fragged Empire Character Creation Tool
    Created by Ashley Dodson, Leng Ghuy, Michael Scott, Jacob Frizzell
    April 2017

    Purpose of this page: Manual Character Creation
-->

<head>
    <meta charset="UTF-8">
    <title>Create Character Manual Mode</title>
</head>
<body>
    <div class="container">
        <h2 class="charName">
            Create your Own Character
        </h2>
        <div class="container" ng-app="app" ng-controller="ctrl">
            <ul class="list-inline">
                <li>
                    <div>
                        <form>
                            Character Name: <input type="text" ng-model="name">
                        </form>
                    </div>
                </li>
                <li>
                    <div>
                        <form>
                            Player: <input type="text" ng-model="player">
                        </form>
                    </div>
                </li>
                <li>
                    <div>
                        Race:
                        <select ng-model="selectedRace" ng-options="x for x in races">

                        </select>
                    </div>
                </li>
                <li>
                    <div ng-repeat="x in lang">
                        Languages: {{x}}
                        <span ng-click="remLang($index)">&times;</span>
                    </div>
                </li>
                <li>
                    <div>
                        <input ng-model="addMe"><button ng-click="addLang()">
                        Add
                    </button>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="container">
        <a href="index.html">Go back to index</a>
    </div>
</body>
</html>