<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="create_apps.js"></script>
<link rel="stylesheet" href="appearance.css">

<!--
    Final Project for CSCI 344 | Fragged Empire Character Creation Tool
    Created by Ashley Dodson, Leng Ghuy, Michael Scott, Jacob Frizzell
    April 2017

    Purpose of this page: Manual Character Creation
-->

<head>
    <meta charset="UTF-8">
    <title>Create Character Manual Mode</title>
</head>
<body class="manualCreate" ng-app="app" ng-controller="ctrl">
    <div class="container">
        <h2 class="charName">
            Create your Own Character
        </h2>
        <div class="container">
            <ul class="list-inline" id="stats">
                <li>
                    <div>
                        <form>
                            Character Name: <input type="text" ng-model="name">
                        </form>
                    </div>
                </li>
                <li>
                    <div>
                        <form>
                            Player: <input type="text" ng-model="player">
                        </form>
                    </div>
                </li>
                <li>
                    <div>
                        Race:
                        <select ng-model="selectedRace" ng-options="x for x in races" ng-click="adjustRace()">

                        </select>
                    </div>
                </li>
                <li>
                    <div>
                        <button ng-click="addLang()">
                            Add Language
                        </button>
                        <input ng-model="addMe">
                    </div>
                </li>
            </ul>
            <i>Note changing race will reset page!</i>
        </div>
        <h3 class="separator">
            Character Stats
        </h3>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Level {{level}}
                        <button ng-click="decLevel()">
                            <i class="glyphicon-minus"></i>
                        </button>
                        <button ng-click="incLevel()">
                            <i class="glyphicon-plus"></i>
                        </button>
                    </p>
                    <p>
                        Max Resources {{resources}}
                    </p>
                    <p>
                        Max Influence {{influence}}
                    </p>
                    <p>
                        Fate: {{fate}}
                    </p>
                    <p ng-repeat="x in lang">
                        Languages: {{x}} <span ng-click="remLang($index)">&times;</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <table>
                        <tr>
                            <th>
                                Race Information
                            </th>
                            <td class="raceInformation">

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h3 class="Separator">
                    Attributes
                </h3>
                <div class="col-md-6">
                    <table class="table">
                        <tr>
                            <td>
                                Strength:
                            </td>
                            <td>
                                {{strVal}} |
                                <button ng-click="remStr()">
                                    <i class="glyphicon-minus"></i>
                                </button>
                                <button ng-click="addStr()">
                                    <i class="glyphicon-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Reflexes:
                            </td>
                            <td>
                                {{rfxVal}} |
                                <button ng-click="remRfx()">
                                    <i class="glyphicon-minus"></i>
                                </button>
                                <button ng-click="addRfx()">
                                    <i class="glyphicon-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Movement:
                            </td>
                            <td>
                                {{movVal}} |
                                <button ng-click="remMov()">
                                    <i class="glyphicon-minus"></i>
                                </button>
                                <button ng-click="addMov()">
                                    <i class="glyphicon-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Focus:
                            </td>
                            <td>
                                {{focVal}} |
                                <button ng-click="remFoc()">
                                    <i class="glyphicon-minus"></i>
                                </button>
                                <button ng-click="addFoc()">
                                    <i class="glyphicon-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Intelligence:
                            </td>
                            <td>
                                {{intVal}} |
                                <button ng-click="remInt()">
                                    <i class="glyphicon-minus"></i>
                                </button>
                                <button ng-click="addInt()">
                                    <i class="glyphicon-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Perception:
                            </td>
                            <td>
                                {{perVal}} |
                                <button ng-click="remPer()">
                                    <i class="glyphicon-minus"></i>
                                </button>
                                <button ng-click="addPer()">
                                    <i class="glyphicon-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Points remaining:
                            </td>
                            <td>
                                {{totalAttr}}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/9XNP8QmJIPw"></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-16">
            <h4>
                Trait Points Available: {{traits}}
            </h4>
        </div>
        <div class="col-md-6">
            <div>
                <table class="table">
                    <th class="col-md-4">
                        Primary Skills (6x)
                    </th>
                    <th class="col-md-2">
                        Bonus Roll
                    </th>
                    <th class="col-md-6">
                        Selected Skill
                    </th>
                    <tr>
                        <td>
                            <form>
                                <input type="checkbox" ng-model="primarySkills.wealth" ng-disabled="maxPrimary(primarySkills.wealth)" ng-change="changeNumSkills(primarySkills.wealth)"> Wealth
                            </form>
                        </td>
                        <td>
                            {{pSkillPoints[0]}}
                        </td>
                        <td>
                            <select ng-model="primarySkills.wealth" ng-options="x for x in primarySkillList.wealth"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form>
                                <input type="checkbox" ng-model="primarySkills.conversation" ng-disabled="maxPrimary(primarySkills.conversation)" ng-change="changeNumSkills(primarySkills.conversation)"> Conversation
                            </form>
                        </td>
                        <td>
                            {{pSkillPoints[1]}}
                        </td>
                        <td>
                            <select ng-model="primarySkills.conversation" ng-options="x for x in primarySkillList.conversation"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form>
                                <input type="checkbox" ng-model="primarySkills.leadership" ng-disabled="maxPrimary(primarySkills.leadership)" ng-change="changeNumSkills(primarySkills.leadership)"> Leadership
                            </form>
                        </td>
                        <td>
                            {{pSkillPoints[2]}}
                        </td>
                        <td>
                            <select ng-model="primarySkills.leadership" ng-options="x for x in primarySkillList.leadership"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form>
                                <input type="checkbox" ng-model="primarySkills.culture" ng-disabled="maxPrimary(primarySkills.culture)" ng-change="changeNumSkills(primarySkills.culture)"> Culture
                            </form>
                        </td>
                        <td>
                            {{pSkillPoints[3]}}
                        </td>
                        <td>
                            <select ng-model="primarySkills.culture" ng-options="x for x in primarySkillList.culture"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form>
                                <input  type="checkbox" ng-model="primarySkills.physical" ng-disabled="maxPrimary(primarySkills.physical)" ng-change="changeNumSkills(primarySkills.physical)"> Physical
                            </form>
                        </td>
                        <td>
                            {{pSkillPoints[4]}}
                        </td>
                        <td>
                            <select ng-model="primarySkills.physical" ng-options="x for x in primarySkillList.physical"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form>
                                <input  type="checkbox" ng-model="primarySkills.resolve" ng-disabled="maxPrimary(primarySkills.resolve)" ng-change="changeNumSkills(primarySkills.resolve)"> Resolve
                            </form>
                        </td>
                        <td>
                            {{pSkillPoints[5]}}
                        </td>
                        <td>
                            <select ng-model="primarySkills.resolve" ng-options="x for x in primarySkillList.resolve"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form>
                                <input  type="checkbox" ng-model="primarySkills.awareness" ng-disabled="maxPrimary(primarySkills.awareness)" ng-change="changeNumSkills(primarySkills.awareness)"> Awareness
                            </form>
                        </td>
                        <td>
                            {{pSkillPoints[6]}}
                        </td>
                        <td>
                            <select ng-model="primarySkills.awareness" ng-options="x for x in primarySkillList.awareness"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form>
                                <input  type="checkbox" ng-model="primarySkills.survival" ng-disabled="maxPrimary(primarySkills.survival)" ng-change="changeNumSkills(primarySkills.survival)"> Survival
                            </form>
                        </td>
                        <td>
                            {{pSkillPoints[7]}}
                        </td>
                        <td>
                            <select ng-model="primarySkills.survival" ng-options="x for x in primarySkillList.survival"></select>
                        </td>
                    </tr>
                </table>
                <table class="table">
                    <th class="col-md-4">
                        Primary Skills (6x)
                    </th>
                    <th class="col-md-2">
                        Bonus Roll
                    </th>
                    <th class="col-md-6">
                        Selected Skill
                    </th>
                    <tr>
                        <td>
                            <form>
                                <input  type="checkbox" ng-model="primarySkills.mechanics" ng-disabled="maxPrimary(primarySkills.mechanics)" ng-change="changeNumSkills(primarySkills.mechanics)"> Mechanics
                            </form>
                        </td>
                        <td>
                            {{pSkillPoints[8]}}
                        </td>
                        <td>
                            <select ng-model="primarySkills.mechanics" ng-options="x for x in professionalSkillList.mechanics"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form>
                                <input  type="checkbox" ng-model="primarySkills.electronics" ng-disabled="maxPrimary(primarySkills.electronics)" ng-change="changeNumSkills(primarySkills.electronics)"> Electronics
                            </form>
                        </td>
                        <td>
                            {{pSkillPoints[9]}}
                        </td>
                        <td>
                            <select ng-model="primarySkills.electronics" ng-options="x for x in professionalSkillList.electronics"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form>
                                <input  type="checkbox" ng-model="primarySkills.programming" ng-disabled="maxPrimary(primarySkills.programming)" ng-change="changeNumSkills(primarySkills.programming)"> Programming
                            </form>
                        </td>
                        <td>
                            {{pSkillPoints[10]}}
                        </td>
                        <td>
                            <select ng-model="primarySkills.programming" ng-options="x for x in professionalSkillList.programming"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form>
                                <input  type="checkbox" ng-model="primarySkills.bio_tech" ng-disabled="maxPrimary(primarySkills.bio_tech)" ng-change="changeNumSkills(primarySkills.bio_tech)"> Bio Tech
                            </form>
                        </td>
                        <td>
                            {{pSkillPoints[11]}}
                        </td>
                        <td>
                            <select ng-model="primarySkills.bio_tech" ng-options="x for x in professionalSkillList.bio_tech"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form>
                                <input  type="checkbox" ng-model="primarySkills.medicine" ng-disabled="maxPrimary(primarySkills.medicine)" ng-change="changeNumSkills(primarySkills.medicine)"> Medicine
                            </form>
                        </td>
                        <td>
                            {{pSkillPoints[12]}}
                        </td>
                        <td>
                            <select ng-model="primarySkills.medicine" ng-options="x for x in professionalSkillList.medicine"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form>
                                <input  type="checkbox" ng-model="primarySkills.psychology" ng-disabled="maxPrimary(primarySkills.psychology)" ng-change="changeNumSkills(primarySkills.psychology)"> Psychology
                            </form>
                        </td>
                        <td>
                            {{pSkillPoints[13]}}
                        </td>
                        <td>
                            <select ng-model="primarySkills.psychology" ng-options="x for x in professionalSkillList.psychology"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form>
                                <input  type="checkbox" ng-model="primarySkills.astronomy" ng-disabled="maxPrimary(primarySkills.astronomy)" ng-change="changeNumSkills(primarySkills.astronomy)"> Astronomy
                            </form>
                        </td>
                        <td>
                            {{pSkillPoints[14]}}
                        </td>
                        <td>
                            <select ng-model="primarySkills.astronomy" ng-options="x for x in professionalSkillList.astronomy"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form>
                                <input  type="checkbox" ng-model="primarySkills.planetoids" ng-disabled="maxPrimary(primarySkills.planetoids)" ng-change="changeNumSkills(primarySkills.planetoids)"> Planetoids
                            </form>
                        </td>
                        <td>
                            {{pSkillPoints[15]}}
                        </td>
                        <td>
                            <select ng-model="primarySkills.planetoids" ng-options="x for x in professionalSkillList.planetoids"></select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <table class="table">
                <th class="col-md-5">
                    Personal Combat Skills (2x)
                </th>
                <th class="col-md-2">
                    Roll
                </th>
                <th class="col-md-5">
                    Selected Skill
                </th>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="combatSkills.smlArmsFrst" ng-disabled="maxCombat(combatSkills.smlArmsFrst)" ng-change="changeNumCombatSkills(combatSkills.smlArmsFrst)"> Small Arms
                        </form>
                    </td>
                    <td>
                        {{cSkillPoints[0]}}
                    </td>
                    <td>
                        <select ng-model="combatSkills.smlArmsFrst" ng-options="x for x in combatSkillList.smallArms"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="combatSkills.smlArmsSec" ng-disabled="maxCombat(combatSkills.smlArmsSec)" ng-change="changeNumCombatSkills(combatSkills.smlArmsSec)"> Small Arms
                        </form>
                    </td>
                    <td>

                    </td>
                    <td>
                        <select ng-model="combatSkills.smlArmsSec" ng-options="x for x in combatSkillList.smallArms"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="combatSkills.hvyArmsFrst" ng-disabled="maxCombat(combatSkills.hvyArmsFrst)" ng-change="changeNumCombatSkills(combatSkills.hvyArmsFrst)"> Heavy Arms
                        </form>
                    </td>
                    <td>
                        {{cSkillPoints[1]}}
                    </td>
                    <td>
                        <select ng-model="combatSkills.hvyArmsFrst" ng-options="x for x in combatSkillList.heavyArms"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="combatSkills.hvyArmsSec" ng-disabled="maxCombat(combatSkills.hvyArmsSec)" ng-change="changeNumCombatSkills(combatSkills.hvyArmsSec)"> Heavy Arms
                        </form>
                    </td>
                    <td>

                    </td>
                    <td>
                        <select ng-model="combatSkills.hvyArmsSec" ng-options="x for x in combatSkillList.heavyArms"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="combatSkills.tactFrst" ng-disabled="maxCombat(combatSkills.tactFrst)" ng-change="changeNumCombatSkills(combatSkills.tactFrst)"> Tactical
                        </form>
                    </td>
                    <td>
                        {{cSkillPoints[2]}}
                    </td>
                    <td>
                        <select ng-model="combatSkills.tactFrst" ng-options="x for x in combatSkillList.tactical"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="combatSkills.tactSec" ng-disabled="maxCombat(combatSkills.tactSec)" ng-change="changeNumCombatSkills(combatSkills.tactSec)"> Tactical
                        </form>
                    </td>
                    <td>

                    </td>
                    <td>
                        <select ng-model="combatSkills.tactSec" ng-options="x for x in combatSkillList.tactical"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="combatSkills.exoFrst" ng-disabled="maxCombat(combatSkills.exoFrst)" ng-change="changeNumCombatSkills(combatSkills.exoFrst)"> Exotic
                        </form>
                    </td>
                    <td>
                        {{cSkillPoints[3]}}
                    </td>
                    <td>
                        <select ng-model="combatSkills.exoFrst" ng-options="x for x in combatSkillList.exotic"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="combatSkills.exoSec" ng-disabled="maxCombat(combatSkills.exoSec)" ng-change="changeNumCombatSkills(combatSkills.exoSec)"> Exotic
                        </form>
                    </td>
                    <td>

                    </td>
                    <td>
                        <select ng-model="combatSkills.exoSec" ng-options="x for x in combatSkillList.exotic"></select>
                    </td>
                </tr>
            </table>
            <table class="table">
                <th class="col-md-5">
                    Vehicle System Skills (2x)
                </th>
                <th class="col-md-2">
                    Roll
                </th>
                <th class="col-md-5">
                    Selected Skill
                </th>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="vehicleSkills.cmdFrst" ng-disabled="maxVehicle(vehicleSkills.cmdFrst)" ng-change="changeNumVehicleSkills(vehicleSkills.cmdFrst)"> Command
                        </form>
                    </td>
                    <td>
                        {{vSkillPoints[0]}}
                    </td>
                    <td>
                        <select ng-model="vehicleSkills.cmdFrst" ng-options="x for x in vehicleSkillList.command"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="vehicleSkills.cmdSec" ng-disabled="maxVehicle(vehicleSkills.cmdSec)" ng-change="changeNumVehicleSkills(vehicleSkills.cmdSec)"> Command
                        </form>
                    </td>
                    <td>

                    </td>
                    <td>
                        <select ng-model="vehicleSkills.cmdSec" ng-options="x for x in vehicleSkillList.command"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="vehicleSkills.engFrst" ng-disabled="maxVehicle(vehicleSkills.engFrst)" ng-change="changeNumVehicleSkills(vehicleSkills.engFrst)"> Engineering
                        </form>
                    </td>
                    <td>
                        {{vSkillPoints[1]}}
                    </td>
                    <td>
                        <select ng-model="vehicleSkills.engFrst" ng-options="x for x in vehicleSkillList.engineering"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="vehicleSkills.engSec" ng-disabled="maxVehicle(vehicleSkills.engSec)" ng-change="changeNumVehicleSkills(vehicleSkills.engSec)"> Engineering
                        </form>
                    </td>
                    <td>

                    </td>
                    <td>
                        <select ng-model="vehicleSkills.engSec" ng-options="x for x in vehicleSkillList.engineering"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="vehicleSkills.operFrst" ng-disabled="maxVehicle(vehicleSkills.operFrst)" ng-change="changeNumVehicleSkills(vehicleSkills.operFrst)"> Operations
                        </form>
                    </td>
                    <td>
                        {{vSkillPoints[2]}}
                    </td>
                    <td>
                        <select ng-model="vehicleSkills.operFrst" ng-options="x for x in vehicleSkillList.operations"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="vehicleSkills.operSec" ng-disabled="maxVehicle(vehicleSkills.operSec)" ng-change="changeNumVehicleSkills(vehicleSkills.operSec)"> Operations
                        </form>
                    </td>
                    <td>

                    </td>
                    <td>
                        <select ng-model="vehicleSkills.operSec" ng-options="x for x in vehicleSkillList.operations"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="vehicleSkills.gunFrst" ng-disabled="maxVehicle(vehicleSkills.gunFrst)" ng-change="changeNumVehicleSkills(vehicleSkills.gunFrst)"> Gunnery
                        </form>
                    </td>
                    <td>
                        {{vSkillPoints[3]}}
                    </td>
                    <td>
                        <select ng-model="vehicleSkills.gunFrst" ng-options="x for x in vehicleSkillList.gunnery"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="vehicleSkills.gunSec" ng-disabled="maxVehicle(vehicleSkills.gunSec)" ng-change="changeNumVehicleSkills(vehicleSkills.gunSec)"> Gunnery
                        </form>
                    </td>
                    <td>

                    </td>
                    <td>
                        <select ng-model="vehicleSkills.gunSec" ng-options="x for x in vehicleSkillList.gunnery"></select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <a href="index.html" class="home_btn">
                <button type="button" class="btn btn-primary">
                    Go back to index
                </button>
            </a>
        </div>
    </div>
</body>
</html>