<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="create_apps.js"></script>
<link rel="stylesheet" href="appearance.css">

<!--
    Final Project for CSCI 344 | Fragged Empire Character Creation Tool
    Created by Ashley Dodson, Leng Ghuy, Michael Scott, Jacob Frizzell
    April 2017

    Purpose of this page: Manual Character Creation
-->

<head>
    <meta charset="UTF-8">
    <title>Create Character Manual Mode</title>
</head>
<body class="manualCreate" ng-app="app" ng-controller="ctrl">
    <div class="container">
        <h2 class="charName">
            Create your Own Character
        </h2>
        <div class="container">
            <ul class="list-inline" id="stats">
                <li>
                    <div>
                        <form>
                            Character Name: <input type="text" ng-model="name">
                        </form>
                    </div>
                </li>
                <li>
                    <div>
                        <form>
                            Player: <input type="text" ng-model="player">
                        </form>
                    </div>
                </li>
                <li>
                    <div>
                        Race:
                        <select ng-model="selectedRace" ng-options="x for x in races">

                        </select>
                    </div>
                </li>
                <li>
                    <div ng-repeat="x in lang">
                        Languages: {{x}}
                        <span ng-click="remLang($index)">&times;</span>
                    </div>
                </li>
                <li>
                    <div>
                        <input ng-model="addMe"><button ng-click="addLang()">
                        Add
                    </button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="container">
            <button ng-click="adjustRace()">Click to change race bonuses</button> <i>Note: this will resert attributes</i>
        </div>
        <h3 class="separator">
            Character Stats
        </h3>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Level {{level}}
                        <button ng-click="decLevel()">
                            <i class="glyphicon-minus"></i>
                        </button>
                        <button ng-click="incLevel()">
                            <i class="glyphicon-plus"></i>
                        </button>
                    </p>
                    <p>
                        Max Resources {{resources}}
                    </p>
                    <p>
                        Max Influence {{influence}}
                    </p>
                    <p>
                        Fate: {{fate}}
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h3 class="Separator">
                    Attributes
                </h3>
                <div class="col-md-6">
                    <table>
                        <tr>
                            <td>
                                Strength:
                            </td>
                            <td>
                                {{strVal}} |
                                <button ng-click="remStr()">
                                    <i class="glyphicon-minus"></i>
                                </button>
                                <button ng-click="addStr()">
                                    <i class="glyphicon-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Reflexes:
                            </td>
                            <td>
                                {{rfxVal}} |
                                <button ng-click="remRfx()">
                                    <i class="glyphicon-minus"></i>
                                </button>
                                <button ng-click="addRfx()">
                                    <i class="glyphicon-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Movement:
                            </td>
                            <td>
                                {{movVal}} |
                                <button ng-click="remMov()">
                                    <i class="glyphicon-minus"></i>
                                </button>
                                <button ng-click="addMov()">
                                    <i class="glyphicon-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Focus:
                            </td>
                            <td>
                                {{focVal}} |
                                <button ng-click="remFoc()">
                                    <i class="glyphicon-minus"></i>
                                </button>
                                <button ng-click="addFoc()">
                                    <i class="glyphicon-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Intelligence:
                            </td>
                            <td>
                                {{intVal}} |
                                <button ng-click="remInt()">
                                    <i class="glyphicon-minus"></i>
                                </button>
                                <button ng-click="addInt()">
                                    <i class="glyphicon-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Perception:
                            </td>
                            <td>
                                {{perVal}} |
                                <button ng-click="remPer()">
                                    <i class="glyphicon-minus"></i>
                                </button>
                                <button ng-click="addPer()">
                                    <i class="glyphicon-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Points remaining:
                            </td>
                            <td>
                                {{totalAttr}}
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="col-md-6">
                    <p>
                        Perks
                    </p>
                    <p>

                    </p>
                    <p>
                        Complications
                    </p>
                    <p>

                    </p>
                    <p>

                    </p>
                    <p>
                        Spare Time Points
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-16">
            <h4>
                Trait Points Available: {{traits}}
            </h4>
        </div>
        <div class="col-md-6">
            <table>
                <th>
                    Primary Skills (6x)
                </th>
                <tr>
                    <td>
                        <form>
                            <input type="checkbox" ng-model="primarySkills.wealth" ng-disabled="maxPrimary(primarySkills.wealth)" ng-change="changeNumSkills(primarySkills.wealth)"> Wealth {{primarySkills.wealth}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input type="checkbox" ng-model="primarySkills.conversation" ng-disabled="maxPrimary(primarySkills.conversation)" ng-change="changeNumSkills(primarySkills.conversation)"> Conversation {{primarySkills.conversation}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input type="checkbox" ng-model="primarySkills.leadership" ng-disabled="maxPrimary(primarySkills.leadership)" ng-change="changeNumSkills(primarySkills.leadership)"> Leadership {{primarySkills.leadership}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input type="checkbox" ng-model="primarySkills.culture" ng-disabled="maxPrimary(primarySkills.culture)" ng-change="changeNumSkills(primarySkills.culture)"> Culture {{primarySkills.culture}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="primarySkills.physical" ng-disabled="maxPrimary(primarySkills.physical)" ng-change="changeNumSkills(primarySkills.physical)"> Physical {{primarySkills.physical}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="primarySkills.resolve" ng-disabled="maxPrimary(primarySkills.resolve)" ng-change="changeNumSkills(primarySkills.resolve)"> Resolve {{primarySkills.resolve}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="primarySkills.awareness" ng-disabled="maxPrimary(primarySkills.awareness)" ng-change="changeNumSkills(primarySkills.awareness)"> Awareness {{primarySkills.awareness}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="primarySkills.survival" ng-disabled="maxPrimary(primarySkills.survival)" ng-change="changeNumSkills(primarySkills.survival)"> Survival {{primarySkills.survival}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="primarySkills.mechanics" ng-disabled="maxPrimary(primarySkills.mechanics)" ng-change="changeNumSkills(primarySkills.mechanics)"> Mechanics {{primarySkills.mechanics}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="primarySkills.electronics" ng-disabled="maxPrimary(primarySkills.electronics)" ng-change="changeNumSkills(primarySkills.electronics)"> Electronics {{primarySkills.electronics}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="primarySkills.programming" ng-disabled="maxPrimary(primarySkills.programming)" ng-change="changeNumSkills(primarySkills.programming)"> Programming {{primarySkills.programming}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="primarySkills.bio_tech" ng-disabled="maxPrimary(primarySkills.bio_tech)" ng-change="changeNumSkills(primarySkills.bio_tech)"> Bio Tech {{primarySkills.bio_tech}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="primarySkills.medicine" ng-disabled="maxPrimary(primarySkills.medicine)" ng-change="changeNumSkills(primarySkills.medicine)"> Medicine {{primarySkills.medicine}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="primarySkills.psychology" ng-disabled="maxPrimary(primarySkills.psychology)" ng-change="changeNumSkills(primarySkills.psychology)"> Psychology {{primarySkills.psychology}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="primarySkills.astronomy" ng-disabled="maxPrimary(primarySkills.astronomy)" ng-change="changeNumSkills(primarySkills.astronomy)"> Astronomy {{primarySkills.astronomy}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="primarySkills.planetoids" ng-disabled="maxPrimary(primarySkills.planetoids)" ng-change="changeNumSkills(primarySkills.planetoids)"> Planetoids {{primarySkills.planetoids}}
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table>
                <th>
                    Personal Combat Skills (2x)
                </th>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="combatSkills.smlArmsFrst" ng-disabled="maxCombat(combatSkills.smlArmsFrst)" ng-change="changeNumCombatSkills(combatSkills.smlArmsFrst)"> Small Arms {{combatSkills.smlArmsFrst}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="combatSkills.smlArmsSec" ng-disabled="maxCombat(combatSkills.smlArmsSec)" ng-change="changeNumCombatSkills(combatSkills.smlArmsSec)"> Small Arms {{combatSkills.smlArmsSec}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="combatSkills.hvyArmsFrst" ng-disabled="maxCombat(combatSkills.hvyArmsFrst)" ng-change="changeNumCombatSkills(combatSkills.hvyArmsFrst)"> Heavy Arms {{combatSkills.hvyArmsFrst}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="combatSkills.hvyArmsSec" ng-disabled="maxCombat(combatSkills.hvyArmsSec)" ng-change="changeNumCombatSkills(combatSkills.hvyArmsSec)"> Heavy Arms {{combatSkills.hvyArmsSec}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="combatSkills.tactFrst" ng-disabled="maxCombat(combatSkills.tactFrst)" ng-change="changeNumCombatSkills(combatSkills.tactFrst)"> Tactical {{combatSkills.tactFrst}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="combatSkills.tactSec" ng-disabled="maxCombat(combatSkills.tactSec)" ng-change="changeNumCombatSkills(combatSkills.tactSec)"> Tactical {{combatSkills.tactSec}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="combatSkills.TactSec" ng-disabled="maxCombat(combatSkills.exoFrst)" ng-change="changeNumCombatSkills(combatSkills.exoFrst)"> Exotic {{combatSkills.exoFrst}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="combatSkills.TactSec" ng-disabled="maxCombat(combatSkills.exoSec)" ng-change="changeNumCombatSkills(combatSkills.exoSec)"> Exotic {{combatSkills.exoSec}}
                        </form>
                    </td>
                </tr>
            </table>
            <table>
                <th>
                    Vehicle System Skills (2x)
                </th>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="vehicleSkills.cmdFrst" ng-disabled="maxVehicle(vehicleSkills.cmdFrst)" ng-change="changeNumVehicleSkills(vehicleSkills.cmdFrst)"> Command {{vehicleSkills.cmdFrst}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="vehicleSkills.cmdSec" ng-disabled="maxVehicle(vehicleSkills.cmdSec)" ng-change="changeNumVehicleSkills(vehicleSkills.cmdSec)"> Command {{vehicleSkills.cmdSec}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="vehicleSkills.engFrst" ng-disabled="maxVehicle(vehicleSkills.engFrst)" ng-change="changeNumVehicleSkills(vehicleSkills.engFrst)"> Engineering {{vehicleSkills.engFrst}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="vehicleSkills.engSec" ng-disabled="maxVehicle(vehicleSkills.engSec)" ng-change="changeNumVehicleSkills(vehicleSkills.engSec)"> Engineering {{vehicleSkills.engSec}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="vehicleSkills.operFrst" ng-disabled="maxVehicle(vehicleSkills.operFrst)" ng-change="changeNumVehicleSkills(vehicleSkills.operFrst)"> Operations {{vehicleSkills.operFrst}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="vehicleSkills.operSec" ng-disabled="maxVehicle(vehicleSkills.operSec)" ng-change="changeNumVehicleSkills(vehicleSkills.operSec)"> Operations {{vehicleSkills.operSec}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="vehicleSkills.gunFrst" ng-disabled="maxVehicle(vehicleSkills.gunFrst)" ng-change="changeNumVehicleSkills(vehicleSkills.gunFrst)"> Gunnery {{vehicleSkills.gunFrst}}
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input  type="checkbox" ng-model="vehicleSkills.gunSec" ng-disabled="maxVehicle(vehicleSkills.gunSec)" ng-change="changeNumVehicleSkills(vehicleSkills.gunSec)"> Gunnery {{vehicleSkills.gunSec}}
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container">
        <a href="index.html">
            <button type="button" class="btn btn-primary">
                Go back to index
            </button>
        </a>
    </div>
</body>
</html>