html{
    margin: 0px;
    padding: 0px;
}

.nav {
    position: fixed;
    width: 100%;
    background-color: #5AC;
    z-index: 1;
}

.container {
    width: 100%;
    padding-top: 25px;
    position: relative;
}

img.logo {
    float: left;
    margin-left: 25px;
    margin-right: 100px;
}

iframe {margin-left: 50px;}
a {color: white;}