html{
    margin: 0px;
    padding: 0px;
}

body.manualCreate {
    background-image: url(Images/BackgroundCreate.jpg);
    background-repeat: no-repeat;
}

.nav {
    position: fixed;
    width: 100%;
    background-color: rgba(0,190,255,.85);
    z-index: 1;
}

.container {
    width: 100%;
    background-color: rgba(0,0,0,.85);
    padding-top: 25px;
    position: relative;
}

img.logo {
    float: left;
    margin-left: 25px;
    margin-right: 100px;
}

iframe {margin-left: 100px;}
p,ul,li,th,td {color: white;}
