html,body{
    height: 100%;
}
body{
    background-image: url(Images/BackgroundInfo.jpg);
    background-size: cover;
}

.nav {
    position: fixed;
    width: 100%;
    background-color: rgba(0,190,255,.85);

}

.tab-content{
    background-color: rgba(0,0,0,.8);
    padding: 30px;
    padding-top: 50px;
    position: relative;
    z-index: -1;
    height: 100%;
}

img.race {
    width: 200px;
    float: right;
    margin-left: 15px;
    border: 2px solid #666;
}

img.logo {
    float: left;
    margin-left: 25px;
    margin-right: 100px;
}
h3 {
    font-size: 32px;
    color: #FFFFFF;
    padding-bottom: 10px;
}
li {
    color: transparent;
}
p, ul.text li{
    color: #e6e6e6;
}

a {
    color: #333333;
}

.race_title {
    text-align: center;
}

.img-thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading {
    background-color: #55AACC;
    text-align: right;
    font-weight: bold;
    font-size: larger;
}

.panel-transparent .panel-body {
    background-color: rgba(50, 50, 50, 0.6);
    color: #FFFFFF;
}

.raceName {
    text-align: center;
}

.well {
    background-color: #555555;
}